@import url('https://fonts.googleapis.com/css?family=Roboto: 100,200,300,400,500,600,700|Exo: 100,200,300,400,500,600,700|Luckiest Guy: 100,200,300,400,500,600,700');

/*---------------------------Colors--------------------------------*/

.ul-menu-color {
    background-color: #ffff00;
}

/*---------------------------Special paddings/margins/texts--------------------------------*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Luckiest Guy", cursive;
    font-weight: 300;
    color: #000000;
}


.h5 {
    text-align: center;
    margin: 0;
    padding-bottom: 30px;
    font-size: medium;
}

.p {
    text-align: justify;
    margin: 10px;
    padding-bottom: 30px;
    font-size: medium;
}

/*---------------------------Header--------------------------------*/

header {
    min-height: 120px;
    margin: 0;
    width: 100%;
}

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

.header-image {
    background-image: url("../band-assets/images/cover2.png");
    height: 200px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.menuitem {
    display: block;
    float: left;
    height: 70px;
    width: 100%;
    text-align: center;
    padding: 0;
    border: 1px solid black;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ff0000;
    height: 70px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 15px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Luckiest Guy", cursive;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
}

/*---------------------------Hover.css--------------------------------*/

.hvr-pulse-grow:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

/*---------------------------Index--------------------------------*/

.h2 {
    text-align: center;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 25px;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    text-decoration: underline;
}

/*---------------------------Music--------------------------------*/

.video {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.video-container {
    margin-top: 30px;
    border: 2px solid black
}

.audio {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.underlay {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 15px;
    font-family: "Luckiest Guy", cursive;
    font-size: medium;
}

/*---------------------------Gallery--------------------------------*/

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-radius: 4px;
    padding: 5px;
    width: 50%;
}

.overlay {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Luckiest Guy", cursive;
    font-size: 30px;
    text-decoration: underline;
}

.column {
    float: left;
    width: 50%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/*---------------------------Events--------------------------------*/

.center-form {
    padding: 15px 0;
    margin: 0 auto;
    max-width: 70%;
}

/*---------------------------Footer--------------------------------*/

footer {
    background-color: #ffffff;
    color: #00000;
    min-height: 120px;
    margin: 0;
    border-top: 3px solid black;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 45px;
    height: 45px;
    padding: 20px 0;
    border-radius: 50%;
    font-size: 21px;
    line-height: 7px;
    text-align: center;
    color: #ff0000;
    background: #ffff00;
}

.social-links li a i:hover {
    background: #008000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


#footer-details {
    margin: 20px;
}

.inline-block {
    display: inline-block;
}

/*---------------------------Media queries--------------------------------*/

@media (max-width: 992px) {

    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}

@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .menuitem {
        display: inline;
        width: 33.33%;
    }
}
